.field-block {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.field-label {
  display: block;
  margin-bottom: .5rem;
  font-weight: 500;
}

.radio-group {
  display: flex;
  gap: 1rem;
  margin-top: .5rem;
}

.error {
  margin-top: 4px;
  font-size: 13px;
  color: #d32f2f;
}

.toggle {
  --toggle-width: 44px;
  --toggle-height: 24px;
  --thumb-size: 18px;

  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 0 !important;

  .mdc-switch {
    width: var(--toggle-width) !important;
    height: var(--toggle-height) !important;
    padding: 0;
  }

  .mdc-switch__track {
    border-radius: 999px !important;
    background-color: #d9d9d9 !important;
    opacity: 1 !important;
  }

  .mdc-switch__thumb {
    width: var(--thumb-size) !important;
    height: var(--thumb-size) !important;
    background-color: white !important;
  }

  .mdc-switch__ripple {
    display: none !important;
  }

  &.mdc-switch--selected .mdc-switch__track {
    background-color: #5cc9b5 !important;
  }
}
