.summary-container {
  background: #fff;
  border-radius: 20px;
  padding: 3rem;
  max-width: 900px;
  margin: 2rem auto;
  text-align: center;
}

.emoji {
  font-size: 7rem;
  margin-top: 30px;
  margin-bottom: 2.75rem;
  height: 60px;
  display: inline-block;
  transform: rotate(-15deg);
  transform-origin: center;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  margin: 0
}

.subtitle {
  color: #7a7a7a;
  margin-bottom: 1.75rem
}

.summary-title {
  text-align: left;
  font-weight: 600;
  margin: .5rem 0 1rem
}

.summary-table {
  width: 100%;
  text-align: left;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f0f0f0;
  margin-bottom: 32px
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .75rem 1rem;
  border-top: 1px solid #f5f5f5
}

.row.header {
  background: #fafafa;
  font-weight: 600;
  border-top: none
}

.row.section {
  grid-template-columns: 1fr;
  background: #f9fdfc;
  color: #3a7f74;
  font-weight: 600
}

.reset-btn {
  background: #3ab49b;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #309e89;
  }
}
