// Material 3 theme
@use '@angular/material' as mat;
@use './styles/material-overrides.scss';

html {
  @include mat.theme((color: (primary: mat.$cyan-palette,
        tertiary: mat.$green-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

html,
body {
  height: 100%;
}
